body {
    background-color: aliceblue;
    font-family: 'Montserrat';
    margin: 0;
}

header {
    width: 100%;
    height: 72px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
}

header nav {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 832px;
    margin-left: 156px;
    font-family: 'Montserrat';
    font-weight: 600;
}

.logo {
    display: flex;
    flex-direction: row;
}

.web {
    color: #4D5AE5;
    font-weight: 700;
}

.studio {
    font-weight: 700;
    margin-right: 76px;
}

.buttons {
    display: flex;
    flex-direction: row;
}

.button {
    margin-right: 40px;
    width: auto;
    height: 24px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    background-color: white;
    border: none;
    cursor: pointer;
    transition: box-shadow 0.1s;
}

.button:hover {
    background-color: #fff;
    border: 1px;
    border-color: black;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    /* Изменяем цвет при наведении */
}

header .cont {
    display: flex;
    flex-direction: row;
    margin-top: 24px;
    margin-bottom: 24px;
}

.cont p {
    padding-right: 40px;
    width: 160px
}

p {
    margin: 0;
}

.sec1 {
    background-color: #2E2F42;
    width: 100%;
    height: 600px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.sec1 h1 {
    color: white;
    font-weight: 700;
    font-size: 56px;
    font-style: normal;
    line-height: 60px;
    letter-spacing: 1.12px;
    width: 600px;
    height: 120px;
    margin: 0;
    overflow-wrap: break-word;
    white-space: normal;
    padding-bottom: 48px;
}

.order {
    width: 170px;
    height: 56px;
    border-radius: 18px;
    background-color: #4D5AE5;
    color: white;
    font-size: 16px;
    font-weight: 400;
    border: none;
    cursor: pointer;
    user-select: none;
    transition: box-shadow 0.1s;
}

.order:hover {
    background-color: #4D5AE5;
    border: 1px;
    border-color: black;
    border-radius: 18px;
    box-shadow: 0 0 10px rgba(77, 90, 229, 0.5);
    /* Изменяем цвет при наведении */
}

.sec2 {
    width: auto;
    height: 344px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sec2 h2 {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

.sec2 p {
    width: 264px;
    height: auto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
}

.p1,
.p2,
.p3,
.p4 {
    margin-right: 24px;
}

.sec3 {
    background: var(--CLOUD, #F4F4FD);
    width: auto;
    height: 732px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sec3 h2 {
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
    padding-bottom: 72px;
}

.sec3 img {
    width: 280px;
    height: 280px;
}

.sec3 .info {
    width: 280px;
    height: auto;
    margin-right: 24px;
    text-align: center;
}

.info h3 {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
    /* 120% */
    margin: 32px 65px 1.5px 65px;
    width: 134px;
}

.info h4 {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;
    margin: 1.5px 65px 32px 65px;
    width: 144px;
}

.sec4 {
    width: auto;
    height: 1240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sec4wrap {
    padding: 120px 156px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.portfolio {
    display: flex;
    flex-direction: row;
}

.portfolio h3 {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 120% */
    letter-spacing: 0.4px;
}

.portfolio h4 {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;
}

.port-box {
    border: 1px solid var(--CORNFLOWER, #E7E9FC);
    margin-right: 24px;
    margin-bottom: 48px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

footer {
    width: auto;
    height: 312px;
    background-color: #2E2F42;
}

.wrapper {
    padding-top: 140px;
    padding-left: 156px;
}

.wrapper .txt {
    width: 264px;
    height: auto;
    color: var(--CLOUD, #F4F4FD);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}